/* Font definitions */
/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
         url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto'),
         url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
         url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto'),
         url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'),
         url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto'),
         url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'),
         url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto'),
         url('../fonts/Roboto-BoldItalic.ttf');
}
/* Noto - Korean */
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans CJK KR Light'),
         url('../fonts/NotoSansCJKkr-Light.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK KR Regular'),
         url('../fonts/NotoSansCJKkr-Regular.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK KR Medium'),
         url('../fonts/NotoSansCJKkr-Medium.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK KR Bold'),
         url('../fonts/NotoSansCJKkr-Bold.otf');
}
/* Noto - Simplified Chinese */
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans CJK SC Light'),
         url('../fonts/NotoSansCJKsc-Light.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK SC Regular'),
         url('../fonts/NotoSansCJKsc-Regular.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK SC Medium'),
         url('../fonts/NotoSansCJKsc-Medium.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK SC Bold'),
         url('../fonts/NotoSansCJKsc-Bold.otf');
}
/* Noto - Japanese */
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans CJK JP Light'),
         url('../fonts/NotoSansCJKjp-Light.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK JP Regular'),
         url('../fonts/NotoSansCJKjp-Regular.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK JP Medium'),
         url('../fonts/NotoSansCJKjp-Medium.otf');
}
@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK JP Bold'),
         url('../fonts/NotoSansCJKjp-Bold.otf');
}

/* Typography */
:root {
    --loot-font-family: Roboto, Noto, sans-serif;
}
html {
    color: var(--primary-text-color);
    /* Languages can also define their own font family to use instead of these
       in LOOT's settings. */
    font-family: var(--loot-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.429;
    text-rendering: optimizeLegibility;
}
h1 {
    font-weight: 400;
}
#summary > h1 {
    font-size: 1.143rem;
}
