[Desktop Entry]
Version=1.0
Type=Application

Name=LOOT
Comment=A load order optimisation tool for the Elder Scrolls (Morrowind and later) and Fallout (3 and later) games.
Categories=Game;Qt;

Icon=io.github.loot.loot
Exec=LOOT
Terminal=false
