/* This file contains the CSS overrides for Polymer elements necessary for them
   to better match the Material Design spec. */

/* core-tooltip */
html /deep/ core-tooltip::shadow .core-tooltip {
   font-size: 0.714rem;
   font-family: Roboto, sans-serif;
   font-weight: 500;
   background-color: rgba(0, 0, 0, 0.9);
}

/* paper-button */
html /deep/ paper-button {
   min-width: 88px;
   height: 36px;
   line-height: 36px;
   margin: 6px 4px;
}
html /deep/ paper-button::shadow .button-content {
   padding: 0 8px;
}
html /deep/ paper-button::shadow .button-content ::content a {
   margin: 0 -8px;
   padding: 0 8px;
   -ms-flex: 1 1 auto;
}

/* paper-item */
html /deep/ paper-item, html /deep/ core-menu > paper-item {
   color: rgba(0, 0, 0, 0.87);
   height: 48px;
   line-height: 48px;
}
html /deep/ paper-item:first-child {
   margin-top: 8px;
}
html /deep/ paper-item core-icon {
   margin-right: 32px;
   color: rgba(0, 0, 0, 0.54);
}
html /deep/ paper-item::shadow .button-content {
   padding: 0 16px;
}
html /deep/ paper-item::shadow .button-content ::content *:not(core-tooltip) {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
html /deep/ paper-item::shadow .button-content ::content a {
   margin: 0 -16px;
   padding: 0 16px;
   -ms-flex: 1 1 auto;
}

/* paper-input-decorator & input */
html /deep/ paper-input-decorator {
   margin: 0 4px;
}
html /deep/ paper-input-decorator::shadow .underline .unfocused-underline {
   background-color: rgba(0, 0, 0, 0.12);
}
html /deep/ paper-input-decorator[disabled]::shadow .underline {
    border-bottom-color: rgba(0, 0, 0, 0.12);
}
html /deep/ paper-input-decorator::shadow .label-text,
html /deep/ input::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.26);
}
html /deep/ ::-moz-placeholder {
   opacity:  1 !important;
   color: rgba(0, 0, 0, 0.26) !important;
}
html /deep/ :-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.26) !important;
}
html /deep/ input {
   text-overflow: ellipsis;
}

/* paper-dropdown */
html /deep/ paper-dropdown {
   padding: 8px 0;
}
html /deep/ paper-dropdown::shadow #scroller {
   /* The calculated height is too high for the content. */
   height: auto !important;
}

/* core-menu */
html /deep/ core-menu {
   margin: 0;
}
html /deep/ core-menu .core-selected {
   background-color: inherit;
}

/* paper-tabs */
html /deep/ paper-tabs::shadow #selectionBar {
   height: 2px;
}

/* paper-tab */
html /deep/ paper-tab::shadow .tab-content {
    text-transform: uppercase;
}

/* core-drawer-panel */
core-drawer-panel::shadow .narrow-layout #drawer {
   width: calc(100vw - 56px) !important;
}
