/* These styles override Polymer's own internal styling for certain elements. */

/* The following stops the main toolbar from overshadowing into the drawer. */
#container::shadow #drawer {
    z-index: 1;
}

/* The following is for setting the size of the drawer in narrow mode. */
#container::shadow .narrow-layout #drawer {
    width: 50% !important;
}

/* These overrides change the colour of the game menu's text and underline. */
#gameMenu::shadow > paper-dropdown-menu {
    border-bottom-color: #64B5F6;
}
#gameMenu[disabled]::shadow > paper-dropdown-menu {
    border-bottom-color: rgba(100, 181, 246, 0.26);
}
#gameMenu::shadow > paper-dropdown-menu::shadow #arrow {
    color: #64B5F6;
}
#gameMenu[disabled]::shadow > paper-dropdown-menu::shadow #arrow {
    color: rgba(100, 181, 246, 0.26);
}
#gameMenu {
    color: rgba(0, 0, 0, 0.87);
}
#gameMenu::shadow > paper-dropdown-menu::shadow #label {
    color: white;
}
#gameMenu[disabled]::shadow > paper-dropdown-menu::shadow #label {
    color: rgba(255, 255, 255, 0.3);
}

/* This makes sidebar items smaller. */
#cardsNav /deep/ paper-item {
    /*font-size: 1em;*/
}
#cardsNav /deep/ paper-item::shadow .button-content {
    padding: 0.4em 1em;
}
#cardsNav loot-plugin-item::shadow > paper-item::shadow .button-content {
    padding: 0.12em 1em;
}

/* This override adds separator menu items. */
html /deep/ paper-item[separator] {
    height: 1px;
    min-height: 1px;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.12);
    pointer-events: none;
}

/* This override disable menu items. */
html /deep/ paper-item[disabled]  {
    color: rgba(0, 0, 0, 0.26);
    pointer-events: none;
}

/* These overrides change the colour of the tab ink effect and their underline. */
html /deep/ paper-tabs::shadow #selectionBar {
    background-color: #64B5F6;
    height: 4px;
}
html /deep/ paper-tab::shadow #ink {
    color: #64B5F6;
}

/* This override change the positioning of the progress dialog to adapt to content changes. */
#progressDialog {
    position: inherit !important;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* This stops transitions from overflowing onto other elements. */
html /deep/ core-animated-pages {
    overflow: hidden;
}

/* This stops menus keeping the last item clicked highlighted. */
paper-item.core-selected {
    background: inherit;
}

/* This styles divs like core-menus. */
html /deep/ paper-dropdown > div {
    margin: 12px;
}

/* Center paper-dropdown-menu text better. */
html /deep/ paper-dropdown-menu {
    padding-top: 0;
}

/* This adds padding between icons and text in menus. */
html /deep/ paper-item > core-icon {
    margin-right: 1em;
}

/* This makes checkboxes have the same padding as icons in lists. */
html /deep/ paper-checkbox::shadow #checkboxLabel {
    padding-left: 1em;
}

/* This makes the medium-tall toolbars 2x the 56px height, rather than the 64px height. */
html /deep/ core-toolbar.medium-tall {
    height: 112px;
}

/* Change color of disabled icon buttons to match Material Design spec. */
paper-icon-button[disabled] {
    color: rgba(255, 255, 255, 0.30);
}
