/* These styles override Polymer's own internal styling for certain elements to
   suit LOOT's needs. */

/* Change color of disabled menu items to match Material Design spec. */
html /deep/ paper-item[disabled]  {
    color: rgba(0, 0, 0, 0.26);
    pointer-events: none;
}
/* Change color of disabled icon buttons to match Material Design spec. */
paper-icon-button[disabled] {
    color: rgba(255, 255, 255, 0.30);
}
/* This override change the positioning of the progress dialog to adapt to content changes. */
#progressDialog {
    position: inherit !important;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* This stops transitions from overflowing onto other elements. */
html /deep/ core-animated-pages {
    overflow: hidden;
}
/* This makes checkboxes have the same padding as icons in lists. */
html /deep/ core-menu paper-checkbox::shadow #checkboxLabel {
    padding-left: 32px;
}
/* Set the underline colour of focussed paper inputs. */
html /deep/ paper-input-decorator::shadow .underline .focused-underline {
    /* line color when the input is focused */
    background-color: #64B5F6;
}
/* Set the underline and arrow colours for dropdown menus on dark backgrounds. */
html .dark /deep/ paper-dropdown-menu {
    border-bottom-color: rgba(255, 255, 255, 0.12);
}
html .dark /deep/ paper-dropdown-menu::shadow #label {
    color: white;
}
html .dark /deep/ paper-dropdown-menu[disabled]::shadow #label,
html .dark /deep/ paper-dropdown-menu::shadow #arrow {
    color: rgba(255, 255, 255, 0.30);
}
/* Set the highlight colour for dropdown menu selections. */
html /deep/ loot-dropdown-menu .core-selected,
html /deep/ paper-dropdown-menu .core-selected {
    color: #64B5F6;
    background-color: inherit;
}
/* Set the tab colours. */
html /deep/ paper-tabs::shadow #selectionBar {
    background-color: #64B5F6;
}
html /deep/ paper-tab::shadow #ink {
    color: #64B5F6;
}
/* Set the drawer z-index so that it doesn't appear below plugin cards. */
core-drawer-panel::shadow #drawer {
    z-index: 1;
    /* max-width disabled because the panel doesn't shift over when the max
    is reached, due to the percentage drawer width, and setting it to a
    constant 400px is too wide in many window sizes. */
    /*max-width: 400px;*/
}
