/* Dark theme CSS overrides. */

/* CSS Custom Variables */
:root {
  /* --primary-color is used for the main toolbar background, floating input
     labels and dialog buttons. */
  --primary-color: var(--paper-blue-600);

  /* --light-primary-color is used for the editor toolbar background. */
  --light-primary-color: var(--paper-grey-900);

  /* --accent-color is used for underlines and ripples */
  --accent-color: var(--paper-blue-600);

  /* --dark-accent-color is used for links, the Apply sorting button, and the
     Save editor icon button. */
  --dark-accent-color: var(--paper-blue-500);

  /* --primary-background-color is use for sidebar, dialog and card backgrounds. */
  --primary-background-color: var(--paper-grey-800);
  --primary-text-color: var(--dark-theme-text-color);
  --secondary-text-color: var(--dark-theme-secondary-color);
  --disabled-text-color: var(--dark-theme-disabled-color);
  --divider-color: var(--dark-theme-divider-color);

  /* --app-toolbar-background can be used to override the --primary-color defined
     above for the main toolbar. */
  --app-toolbar-background: var(--paper-grey-900);

  /* --secondary-background-color is used for the progress bar background and
     the background behind cards. */
  --secondary-background-color: #303030;
  --paper-progress-container-color: var(--secondary-background-color);

  /* --loot-plugin-item-index-border-color is used to control the colour of the
     border around load order indices in the sidebar. */
  --loot-plugin-item-index-border-color: var(--paper-color-300);
}

#main {
    background: var(--secondary-background-color);
}

li.error > p,
li.warn > p {
    color: black;
}

.version {
    color: #78909C;
}

.crc {
    color: #8D6E63;
}
